<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin::header">
</head>
<section>
    <script>
        //获取url地址的参数
        function getUrlParam(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r!=null) return decodeURI(r[2]); return null;
        }

        updatePassword = function () {
            var username = getUrlParam('username');
            if ($("#new_password").val()==""){
                alert("新密码不能为空！");
                return;
            }
            if ($("#re_password").val()==""){
                alert("确认密码不能为空！");
                return;
            }
            if ($("#new_password").val()!=$("#re_password").val()){
                alert("两次密码不一致！");
                $("#new_password").val("");
                $("#re_password").val("");
                return;
            }
            $.ajax({
                type:"POST",
                url:"/exam/common/userRePassword",
                data:{
                    username:username,
                    password:$("#new_password").val()
                },
                dataType:"json",
                success:function (data) {
                    if (data != null){
                        $.each(data,function (key,value) {
                            alert(value);
                        });
                        window.location.href = ("/exam/page/login");
                    }
                }
            });
        }
    </script>
</section>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4">
                        <div class="card-header text-center text-uppercase h4 font-weight-light">
                            RE_PASSWORD
                        </div>
                        <div class="card-body py-5">
                            <div class="form-group" style="text-align: center">
                                <a class="navbar-brand" th:href="@{/page/login}">
                                    <img src="../static/imgs/logo.png" alt="logo">
                                </a>
                            </div>
                            <div class="form-group">
                                <label for="new_password" class="form-control-label">新密码</label>
                                <input type="password" id="new_password" class="form-control" value="" required>
                            </div>
                            <div class="form-group">
                                <label for="re_password" class="form-control-label">确认密码</label>
                                <input type="password" id="re_password" class="form-control" value="" required>
                            </div>
                            <!--<div class="custom-control custom-checkbox mt-4">-->
                                <!--<input type="checkbox" class="custom-control-input" id="login">-->
                                <!--<label class="custom-control-label" for="login">Check this custom checkbox</label>-->
                            <!--</div>-->
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary" th:onclick="'javascript:updatePassword()'">Save Changes</button>
                                </div>
                                <!--<div class="col-6">-->
                                    <!--<a href="admin_forgot.html" th:href="@{/page/adminForgot}" class="btn btn-link">Forgot Password?</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                </div>

            </div>
            <!--<div class="row" style="margin-top: 40px;" th:include="admin::footer"></div>-->
        </div>
    </div>
</div>
</body>
</html>
