<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="student::header">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header" th:include="student::student-navbar"></nav>
    <div class="main-container">
        <div class="sidebar" th:include="student::student-sidebar"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12" style="margin-top: 100px;margin-bottom: 50px;">
                    <h1 th:text="${exam.examName}">第一次模考</h1>
                </div>
            </div>
            <div th:each="modelVo,modelVoStat:${list}">
                <div class="row" style="margin-bottom: 100px">
                    <div class="col-xs-12  col-sm-7 col-md-8 col-lg-8 ie8-do-left">
                        <div class="row question" qindex="0">
                            <div class="col-xs-12  col-sm-12 col-md-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row-box">
                                            <p class="ques-title">
                                                <span class="ques-number" th:text="${modelVoStat.index+1}"> 1/8</span>
                                                <span class="ques-type ques-single" th:text="${modelVo.type}">单选题</span><br />
                                                标题：<span th:text="${modelVo.model.title}">下面一共有几个草莓？
                                            <p style="text-indent: 30px;" th:utext="${modelVo.model.content}">
                                                <!--<img src="https://userfile.youkaoshi.cn/images/userupload/1870291/20190213193040_p2xsow.jpg">-->
                                                It was the first day of class. Two of her new ESL classmates wanted to know where Tara was from. They were both from Iraq. Because Tara looked Iraqi, one of the women asked Tara, in English, if she was from Iraq. Tara replied, "No, I'm not." Then the women took turns asking Tara if she was from Iran, or Syria, or Jordan. To each question, Tara responded with a simple no. Laughing, one woman said to the other, "She's not from anywhere!" The two went to their desks, talking to each other in Arabic.

                                                The next day, the teacher divided the students into groups of four. The students in each group asked introductory questions of each other. A student in Tara's group asked her, "Where are you from?" Tara answered that she was from Iraq. The two women who had questioned Tara the day before were sitting only a few feet away. Both of them heard Tara's response.

                                                "Aha!" they both exclaimed. "You ARE from Iraq!" Tara smiled and said yes. Then she apologized to both of them for lying the day before. She explained that she had not wanted to get into an Arabic conversation with them. It had been her experience that many ESL students continued to speak their native language in ESL class, and Tara had not come to ESL class to practice her Arabic. In her opinion, ESL students should try to speak English only.

                                                "I agree," said Rose.

                                                "You're 100 percent right," agreed Jennifer. "Rose and I must stop speaking Arabic to each other. Right, Rose?" Rose nodded, and then said something in Arabic. All three women laughed.

                                                Over the next four months, Tara became friendly with both women, although she never spoke a word of Arabic to them during class or break.
                                            </p>
                                            </span>
                                            分值（分）：<span class="ques-score" th:text="${modelVo.model.grade}">(5分)</span>
                                            </p>
                                            <div class="ques-answers" th:utext="${modelVo.model.modelOption}">
                                                <!--&lt;!&ndash;inlcude&ndash;&gt;-->
                                                <!--<ul class="clear-list-style mt0-and-mb10 option-list">-->
                                                    <!--<li class="btn btn-option">-->
                                                        <!--<i class="fa fa-circle-o"> </i> A.-->
                                                        <!--<span>1个</span>-->
                                                    <!--</li>-->
                                                    <!--<li class="btn btn-option">-->
                                                        <!--<i class="fa fa-circle-o"> </i> B.-->
                                                        <!--<span>2个</span>-->
                                                    <!--</li>-->
                                                    <!--<li class="btn btn-option">-->
                                                        <!--<i class="fa fa-circle-o"> </i> C.-->
                                                        <!--<span>3个</span>-->
                                                    <!--</li>-->
                                                    <!--<li class="btn btn-option">-->
                                                        <!--<i class="fa fa-circle-o"> </i> D.-->
                                                        <!--<span>4 个</span>-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 ie8-do-right">
                        <div class="exam-metas  affix">
                            <div class="timer text-center">
                                <div class="time-left">
                                    <div>
                        <span class="timeImg"><img src="https://cdn.youkaoshi.cn/static/images/time.png"
                                                   class="icon"></span> <br>
                                        总剩余时间
                                    </div>
                                    <div>
                                        <strong>
                                            <span class="time">27:06</span>

                                        </strong>
                                    </div>
                                </div>
                                <hr>
                                <div class="page">
                                    <span class="text-left">答题进度:</span>
                                    <strong>
                                        <span class="val" style="text-align: left;">1 / 8</span>
                                    </strong>
                                </div>

                                <div class="finish-ratio">
                                    <span class="text-left">完成率:</span>
                                    <strong>
                                        <span class="ratio" style="text-align: left;">0.00%</span>
                                    </strong>
                                </div>
                                <div class="questions-card">
                            <span>
                                <strong>
                                题卡
                                </strong>
                            </span>
                                </div>
                                <div class="questions-lists pre-scrollable">
                                    <div class="q-list col-xs-12 col-sm-12 col-md-12" style="padding: 0px 8px 0px 0px;">
                                        <ul>
                                            <a href="javascript:">
                                                <li class="">
                                                    1
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    2
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    3
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    4
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    5
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    6
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    7
                                                </li>
                                            </a>

                                            <a href="javascript:">
                                                <li class="">
                                                    8
                                                </li>
                                            </a>

                                        </ul>
                                    </div>
                                </div>
                                <div class="question-lists-tips">
                            <span>
                                已做
                                <i class="fa fa-square did" aria-hidden="true"></i>
                            </span>
                                    <span>
                                未做
                                <i class="fa fa-square-o undone" aria-hidden="true"></i>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 exam-submit-action">
                        <div class="form-inline">
                            <div class="pull-left">
                                <button type="button" class=" btn-block btn btn-default btn-lg">
                                    <i class="fa fa-angle-left"></i> 上一题&nbsp;&nbsp;
                                </button>
                            </div>
                            <span style="width: 250px"></span>
                            <div class="pull-right">
                                <button type="button" class="btn-block btn btn-primary btn-lg">&nbsp;&nbsp;下一题
                                    <i class="fa  fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--系统信息-->
            <div class="row" style="margin-top: 40px;">
                <p class="col-xs-12 col-sm-12 text-center slogan">
                    英语考试，就用轻考试！ </p>
                <p class="col-xs-12 col-sm-12 text-center copyright">
                    版权所有 &copy;2019 北京轻考试信息技术有限公司 保留所有权利 粤ICP备1507084220号 </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#myCarousel').on('slide.bs.carousel', function () {
            alert("当调用 slide 实例方法时立即触发该事件。");
        });
    });
</script>
</body>
</html>
