<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="student::header"></head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header" th:include="student::student-navbar"></nav>

    <div class="main-container">
        <div class="sidebar" th:include="student::student-sidebar"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row" style="margin-top: 25px">
                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                     <!--<span class="h4 d-block font-weight-normal mb-2">54</span>-->
                                    <span class="font-weight-light"><a href="studentStart.html" th:href="@{/exam/select(exam_name=null)}">开始做题</a></span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-people"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <!-- <span class="h4 d-block font-weight-normal mb-2">$32,400</span> -->
                                    <span class="font-weight-light"><a href="studentTable.html" th:href="@{/grade/getGrade(title=null)}">考试记录</a></span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-clock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3">-->
                        <!--<div class="card p-4">-->
                            <!--<div class="card-body d-flex justify-content-between align-items-center">-->
                                <!--<div>-->
                                    <!--&lt;!&ndash; <span class="h4 d-block font-weight-normal mb-2">900</span> &ndash;&gt;-->
                                    <!--<span class="font-weight-light"><a href="studentTable.html" th:href="@{/page/studentMistakes}">错题本</a></span>-->
                                <!--</div>-->

                                <!--<div class="h2 text-muted">-->
                                    <!--<i class="icon icon-wallet"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-light">
                            最近考试
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>试卷名称</th>
                                        <th>组卷类型</th>
                                        <th>所需时间</th>
                                        <th>发布者</th>
                                        <th>试卷总分</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="exam:${session.list}">
                                    <tr>
                                        <td class="text-nowrap" th:text="${exam.examName}">Samsung Galaxy S8</td>
                                        <td th:text="${exam.examType}==0?'固定':'随机'">31,589</td>
                                        <td th:text="${exam.needTime}+'分钟'">$800</td>
                                        <td th:text="${exam.examAuthor}"></td>
                                        <td th:text="${exam.examGrade}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 60px;">
                <p class="col-xs-12 col-sm-12 text-center slogan" style="margin-bottom: 20px">
                    英语考试，就用轻考试！ </p>
                <p class="col-xs-12 col-sm-12 text-center copyright" style="margin-bottom: 20px">
                    版权所有 &copy;2019 北京轻考试信息技术有限公司 保留所有权利 粤ICP备1507084220号 </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
