<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>英语在线考试系统</title>
    <link rel="shortcut icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../static/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/popper.js/popper.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/vendor/chart.js/chart.min.js"></script>
    <script src="../static/js/carbon.js"></script>
    <script src="../static/js/demo.js"></script>

    <script type="text/javascript" src="../static/ckeditor/ckeditor.js"></script>

    <link rel="stylesheet" href="../static/css/iconfont.css">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4">The page you are looking for was not found.</div>
                <a href="#" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>
<!--上边栏-->
<nav class="navbar page-header" th:fragment="student-navbar">
    <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
        <i class="fa fa-bars"></i>
    </a>

    <a class="navbar-brand" th:href="@{/page/login}">
        <img src="../static/imgs/logo.png" alt="logo">
    </a>

    <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
        <i style="font-size: 30px">&laquo;</i>
    </a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <img src="../static/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                <span class="small ml-1 d-md-down-none" th:text="${session.role.name}">Teacher</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">Settings</div>

                <a href="settings.html" th:href="@{/page/student_settings}" class="dropdown-item">
                    <i class="iconfont icon-icon-profile"></i> 账户管理
                </a>

                <a href="update_password.html" th:href="@{/page/student_update_password}" class="dropdown-item">
                    <i class="iconfont icon-icon-re-password"></i> 修改密码
                </a>

                <a href="#" th:href="@{/common/logout}" class="dropdown-item">
                    <i class="iconfont icon-icon-logout"></i> 退出登录
                </a>
            </div>
        </li>
    </ul>
</nav>

<!--侧边栏-->
<div class="sidebar" th:fragment="student-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Navigation</li>

            <li class="nav-item">
                <a href="studentIndex.html" th:href="@{/page/studentIndex}" class="nav-link">
                    <i class="iconfont icon-icon-control"></i> 考生控制台
                </a>
            </li>

            <li class="nav-item">
                <a href="studentStart.html" th:href="@{/exam/select(exam_name=null)}" class="nav-link">
                    <i class="iconfont icon-icon-start"></i> 开始做题
                </a>
            </li>

            <li class="nav-item">
                <a href="studentTable.html" th:href="@{/grade/getGrade(title=null)}" class="nav-link">
                    <i class="iconfont icon-record"></i> 我的记录
                </a>
            </li>

            <!--<li class="nav-item">-->
                <!--<a href="studentIndex.html" th:href="@{/page/studentMistakes}" class="nav-link">-->
                    <!--<i class="icon"></i> 错题集-->
                <!--</a>-->
            <!--</li>-->
        </ul>
    </nav>
</div>
</body>
</html>
